{% extends 'base.html' %}

{% block title %}All Tweets {{ block.super }}{% endblock title %}

{% block content %}

	<p>{% include 'tweets/search_form.html' %}</p>
	
		{% for obj in object_list %}

		<p><strong>ID:</strong> {{ obj.id }}</p>
		<p><strong>Tweet:</strong> {{ obj.content }}</p>
		<p><strong>Published:</strong> {{ obj.timestamp|timesince }} ago</p>
		<p><strong>User:</strong> {{ obj.user }}</p>
		<br>

		{% empty %}
			{% if request.GET.q %}
			<p>No tweets found.</p>
			{% else %}
			<p>No tweets yet.</p>
			{% endif %}

	{% endfor %}

{% endblock content %}