{% extends 'base.html' %}

{% block title %}All Tweets {{ block.super }}{% endblock title %}

{% block script %}

<script>

const urlParams = new URLSearchParams(window.location.search);
	
$(document).ready(function(){
	console.log("working");

	const myParam = urlParams.get('q');
	var tweetList = [];

	function parseTweets(){
		if (tweetList == 0){
			$("#tweet-container").text("No tweets currently found.")
		} else {
		// tweets exist, parse and them
		$.each(tweetList, function(key, value){
			var tweetKey = key;
			var tweetContent = value.content;
			var tweetUser = value.user;
			$("#tweet-container").append(
				"<div class=\"row\"><div class=\"col-sm-3 col-xs-12\"><h1>" + tweetUser.username + "</h1></div><div class=\"col-sm-9\"><p>" + tweetContent + "</p><p>via " + tweetUser.username + " | <a href='#'>View</a></p>" + "</div><div class=\"col-sm-12\"><hr></div>"
			)
		})
		}
	};

	$.ajax({
		url: "/api/tweet/",
		data: {
			"q": myParam
		},
		method: "GET",
		success: function(data){
			tweetList = data
			parseTweets()
		},
		error: function(data){
			console.log("error")
			console.log(data)
		}
	})

});

</script>

{% endblock script %}

{% block content %}

	{% if not request.GET.q %}
		<div class="row">
			<div class="col-sm-9 offset-sm-3">
				{% include 'tweets/form.html' with form=create_form action_url=create_url btn_title='Tweet' %}
			</div>
		</div>
		<hr>
	{% endif %}

	<div id="tweet-container">
		
	</div>

{% endblock content %}